<div class='container row mx-auto'>
  <h1 class='text-center mt-4'>你想對誰說幹話？</h1>

  {{! select character area}}
  <form action='/' method='POST' >
    <div
      class='row mx-auto justify-content-around mt-2 persons'
      style='width: 70%;'
    >
      <div class='card col-3 mx-2 engineer'>
        <img
          src='https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg'
          class='card-img-top mp-0'
          alt='...'
        />
        <div class='card-body d-flex justify-content-center'>
          <div class='form-check'>
            <input
              class='form-check-input'
              type='radio'
              name='character'
              id='engineer'
              value='engineer'
              {{#if (eq character 'engineer')}}checked{{/if}}
              required
            />
            <label class='form-check-label' for='engineer'>
              工程師
            </label>
          </div>
        </div>
      </div>

      <div class='card col-3 mx-2 designer'>
        <img
          src='https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg'
          class='card-img-top'
          alt='...'
        />
        <div class='card-body d-flex justify-content-center'>
          <div class='form-check'>
            <input
              class='form-check-input'
              type='radio'
              name='character'
              id='designer'
              value='designer'
              {{#if (eq character 'designer')}}checked{{/if}}
              required
            />
            <label class='form-check-label' for='designer'>
              設計師
            </label>
          </div>
        </div>
      </div>

      <div class='card col-3 mx-2 entrepreneur'>
        <img
          src='https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg'
          class='card-img-top'
          alt='...'
        />
        <div class='card-body d-flex justify-content-center'>
          <div class='form-check'>
            <input
              class='form-check-input'
              type='radio'
              name='character'
              id='entrepreneur'
              value='entrepreneur'
              {{#if (eq character 'entrepreneur')}}checked{{/if}}
              required
            />
            <label class='form-check-label' for='entrepreneur'>
              創業家
            </label>
          </div>
        </div>
      </div>

    </div>
    <div
      class='row submit-area mt-3 mx-auto justify-content-around'
      style='width: 70%;'
    >
      <button
        type='submit'
        class='btn btn-primary submit-btn col-1'
      >產生幹話</button>

      <textarea
        class='show-answer col-9'
        aria-label='With textarea'
        rows='3'
      >{{#if sentence}} {{sentence}} {{/if}}</textarea>

    </div>
  </form>
</div>