.card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card {
  padding: 0;
}
.card:hover {
  transform: scale(1.1);
}
.persons {
  padding: 0;
}

.submit-btn,
.show-answer {
  margin: 20px;
}
.submit-btn {
  width: fit-content;
  height: fit-content;
}
.submit-area {
  padding: 0 6px;
}

textarea {
  border-color: lightgrey;
}

textarea {
  padding: 15px;
  font-weight: bolder;
  font-size: larger;
}
